<header>
    <h1>Bienvenido a la página de Administrador</h1>
    <h2 class="h2_title">Usted está identificado como administrador: <i>{{username}}</i></h2>
</header>

<body>
    <h3>Sitio creado para administradores</h3>
    <div class="register_success_container">
        <div class="register_success-body">Nuestra tienda digital</div>
    </div>
</body>
<footer class="register_success_footer">
    <a href="/realTimeProducts">Catálogo de productos</a>
</footer>

<link rel="stylesheet" href="/css/index.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>