<main>
    <h1>Hello world otra vez!!</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile">
        <button>enviar</button>
    </form>
</main>

<div>
    <h1>Bienvenidos a Socket</h1>
    <h2>!Hola {{user.name}}, bienvenido!! </h2>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script><!-sintaxis usada para instanciar el socket del lado del cliente ->
<script src="/js/index.js"></script>