<header>
    <h1>Registro Exitoso!!</h1>
    <h2 class="h2_title">Bienvenido a nuestro sitio usuario: <i>{{username}}</i></h2>
</header>

<body>
    <h3>Gracias por visitar nuestro sitio</h3>
    <div class="register_success_container">
        <div class="register_success-body">Mi tienda digital</div>
    </div>
</body>

<footer class="register_success_footer">
    <a href="/loginpassport" class="login_link_footer">Login</a>
    <a href="/realTimeProducts" class="products_link_footer">Catálogo de productos</a>
</footer>

<link rel="stylesheet" href="/css/index.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>