<main>
    <h2 class="h2_title">Página de reestablecimiento de contraseña</h2>
    <h3 class="h3_title">Ingresá tu email</h3>
    <div class="texto_libre">Te enviaremos un mail con instrucciones para que puedas cambiar tu contraseña</div>

    //crear un formulario

    <input type="text" name="username" placeholder="Ingrese su dirección de mail" class="input_register_form">
    <a href="/api/sessions/github" class="delete_button">Cambiar contraseña</a>
</main>

<link rel="stylesheet" href="/css/index.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>